* {
  margin: 0;
  box-sizing: border-box;
}

.jumbo__container{
  background-image: url('../src/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
  color: white;
  height: 300px;
}

.App {
  text-align: center;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: all 0.5s;
}

.foods_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
	row-gap: 30px;
}


.login__register {
  color: red;
  background-color: antiquewhite;
}
.login_submit {
  color:red;
  background-color: antiquewhite;
}